<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Backbone & Bootstrap RSS directory experiment</title>
	
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	
	
</head>
<body>
	<div id="app" class="container">
		<div class="row">
			<div class="col-sm-4">
				<h1 id="blogs">Blogs</h1>
				<p>Select a food blog below to see the latest posts</p>
				<ul class="blog-list"></ul>
			</div>
			<div class="col-sm-8">
				<h1 id="entries">Entries</h1>
				<ul class="entry-list"></ul>
			</div>
		</div>
	</div>
	<script type="text/template" id="blog-list-item-tmpl">
		<p>
			<a href="#entries"><%= title %></a>
		</p>
	</script>
	<script type="text/template" id="entry-list-item-tmpl">
		<h3><%= title %> <a href="#blogs" class="top" aria-hidden="true">&#x25b2;&nbsp;top</a></h3>
		<p><%= contentSnippet %> 
			<a href="<%= link %>" target="_blank">read more &raquo;</a>
		</p>
	</script>
	<script src="js/models/blog.models.js"></script>
	<script src="js/models/entry.models.js"></script>
	<script src="js/views/blog.views.js"></script>
	<script src="js/views/entry.views.js"></script>
	<script src="js/app.js"></script>	
</body>
</html>